* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: rgb(58, 172, 134);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    align-items: center;

}
h4{
    text-align: center;
    font-size: 36px;
    color: white;
    text-transform: uppercase;

}

.label_input {
    margin-bottom: 30px;
}
form_caculator{
    position: relative;
}
.label_input >label>input{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 18px;
}
/* .label_input >label>input::placeholder{
    padding: 0 10px;
} */
span{
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    
}
button{
    margin-top: 30px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 10px;
}
button:hover{
    opacity: 0.8;
}

button:nth-of-type(1){
    background-color: blue;
}
button:nth-of-type(2){
    background-color: red;
}
button:nth-of-type(3){
    background-color: green;
}
button:nth-of-type(4){
    background-color: yellow;
}